<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Consulta-5</title>
      <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
        <style>
            body {
                background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/9743047-pastel-gradiente-fundo-amarelo-com-bonitos-padroes-vetor.jpg);
            }
            h1 {
                color: darkblue;
                font-family: Cambria;
                text-align: center;
            }
        </style>
  </head>
  <body>
    <h1>Tabela resultado: Consulta 5</h1>
    <table id="minhaTabela">
          <thead>
            <tr>
              <th scope="col">id_time</th>
              <th scope="col">id_processo</th>
              <th scope="col">id_orgao_contrato</th>
              <th scope="col">id_contrato</th>
              <th scope="col">id_contratado</th>
              <th scope="col">situacao_cont</th>
              <th scope="col">ano_particao</th>
              <th scope="col">vr_homologado</th>
              <th scope="col">vr_atualizado</th>
            </tr>
          </thead>
          <tbody>
          {% for resultado in resultados %}
            <tr>
              <td>{{resultado.id_time}}</td>
              <td>{{resultado.id_processo}}</td>
              <td>{{resultado.id_orgao_contrato}}</td>
              <td>{{resultado.id_contrato}}</td>
              <td>{{resultado.id_contratado}}</td>
              <td>{{resultado.situacao_cont}}</td>
              <td>{{resultado.ano_particao}}</td>
              <td>{{resultado.vr_homologado}}</td>
              <td>{{resultado.vr_atualizado}}</td>
            </tr>
          {% endfor %}
          </tbody>
    </table>

    <br><br>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#minhaTabela').DataTable({
                  "language": {
                      "lengthMenu": "Mostrando _MENU_ registros por página",
                      "zeroRecords": "Nada encontrado",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "Nenhum registro disponível",
                      "infoFiltered": "(filtrado de _MAX_ registros no total)"
                  }
              });
        });
    </script>
  </body>
</html>